.bg-pattern{
width: 100%;
height: 90vh;
display: flex;
flex-direction: column;
align-items: center;
background-color: var(--color-bg);
background-image:
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(var(--color-paper) .1em, transparent .1em);
background-size: 100% 1.5em;

}

@font-face {
font-family: 'Making Moves ver3 Regular';
font-style: normal;
font-weight: normal;
src: local('Making Moves ver3 Regular'), url('Making Moves ver3.woff') format('woff');
margin-top: 50%;
}

.newFont{
    font-family: 'Making Moves ver3 Regular';
    font-size: 70px;
    color:gray;
    margin: 35%;
}

.homeBtn{
    border-radius: 15px;
    position: absolute;
    right:2%;
    bottom: 5%;
    border: none;
    background-color: #abced4;
    width: 200px;
    padding: 10px;
    padding-top: 18px;
    font-family: 'Making Moves ver3 Regular';
    font-size: 15px;
    cursor: pointer;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}