
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');



:root {
  --color-main: rgb(255, 200, 0);
  --color-text: #383a3f;
  --color-dark: #1f2124;
  --color-gray: #677;
  --color-bg: #f3f6f9;
  --color-lighter: #f9f9f9;
  --color-white: #fff;
  --color-border:#e0e3e6;
  ---color-add:#f9f9f9;
  --color-paper:  #dcdfe1;
  --color-verticle: #abced4
}

.dark {
  --color-main: rgb(255, 200, 0);
  --color-text: #d6d1d1;
  --color-dark: #f5f6f7;
  --color-gray: #999;
  --color-bg: #1f2124;
  --color-lighter: #292a2c;
  --color-white: #2e3235;
  --color-border:#252629;
  --color-add:#999;
  --color-paper:#688195;
  --color-verticle: rgb(255, 200, 0);
}

/* BASE STYLES */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}


body{
  line-height: 1.8em;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* APP STYLES */


.themeBtn{
  background-color: var(--color-white);
  fill: var(--color-main);
  border-radius: 15px;
padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.3);
  height: 35px;
}
.switch{
  display: flex;
  justify-content: center;
  background-color: var(--color-lighter);
  fill: var(--color-main);
  border-radius: 15px;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.3);
  height: 35px;
  width: 200px;
}

.container {
  width: 100%;
  height: 100vh;
  color: var(--color-text);
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
}


.app {
  width: 100%;
  max-width: 700px;
  height: 95vh;
  margin: 0 auto;
  background-color: var(--color-white);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 30px;
}


.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  background-color: var(--color-lighter);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.app-header h1 {
  font-size: 30px;
  color: whitesmoke;
  font-weight: 800;
  text-align: center;

}

.app-header button {
  border: 0;
  border-radius: 5px;
}

.app-header button > svg {
  fill: var(--color-dark);
  height: 25px;
  width: 25px;
  object-fit: cover;
}

.app-body {
  padding: 16px;
}


/* NOTES STYLES */

.notes-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
}

.notes-title,
.notes-count {
  color: var(--color-main);
  font-size: 24px;
  font-weight: 600;
}

.notes-count {
  font-size: 18px;
  color: var(--color-gray);
}


.notes-list {
  padding: 0;
  margin: 16px 5%;
  height: 70vh;
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
}

.notes-list::-webkit-scrollbar {
  display: none;
}

.notes-list-item {
  border-bottom: 1px solid  var(--color-border);
  padding: 5px 15px;
  padding-top: 8px;
  border-radius: 10px;
  transition: all 0.7s ease-out;
  display: flex;
  justify-content: space-between;
}

.notes-list-item:hover {
  background-color: var(--color-bg);
}

.deleteBtn{
  display: none;

  }
.deleteIcon{
  width: 25px;
}

.notes-list-item:hover >.deleteBtn {
  display: block;
  fill: var(--color-main);
  cursor: pointer;
  background-color:transparent;
  border: none;
  padding-right: 10px;
}

.notes-list-item h3,
.notes-list-item p span {
  font-weight: 600;
}


.notes-list-item p span {
  color: var(--color-gray);
  display: inline-block;
  margin-right: 8px;
}

.notes-list-item p {
  font-size: 14px;
  color: var(--color-light);
}

.floating-button {
  font-size: 48px;
  position: absolute;
  bottom: 20px;
  right: 16px;
  background: var(--color-main);
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.3);
}


.floating-button > svg {
  fill: var(--color-dark);
}



/*==============================
=>  Note Styles
================================*/

.note-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-main);
  padding: 10px;
}

.note-header h3 {
  display: flex;
  align-items: center;
  font-size: 24px;
  
}

.note-header h3 svg {
  fill: var(--color-main);
  width: 20px;
  margin-right: 8px;
}

.note-header button {
  border: none;
  outline: none;
  font-weight: 600;
  background-color: transparent;
  font-size: 18px;
  
}

.note textarea {
  position: absolute;
  top:160px;
  background-color: var(--color-white);
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 5px;
  width: 100%;
  height: 75vh;
  resize: none;
  scrollbar-width: none; /* Firefox */
  border-radius: 20px;
}

.note textarea:active,
.note textarea:focus {
  outline: none;
  border: none;
}

.note textarea::-webkit-scrollbar {
  display: none;
}

@keyframes glow {
  from {
    text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 10px #ee3f97, 0 0 20px #ee3f97, 0 0 30px #ee3f97, 0 0 40px #ee3f97, 0 0 50px #ee3f97;
  }
  to {
    text-shadow: 0 0 3px #fff, 0 0 5px rgb(255, 200, 0), 0 0 10px rgb(255, 200, 0), 0 0 15px rgb(255, 200, 0), 0 0 20px rgb(255, 200, 0), 0 0 25px rgb(255, 200, 0), 0 0 30px rgb(255, 200, 0);
  }
}

.glow {
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}

.jokeBtn{
    background-color: var(--color-lighter);
  fill: var(--color-main);
  border-radius: 15px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 20px;
  right: 15px;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.todoList{
color: var(--color-text);
padding-left: 5%;

}


.addInput{
  background-color:  var(--color-main);
  color: var(--color-dark);
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  height: 30px;
  margin-top: 10px;
  width: 85%;
}

.addBtn{
  background-color: var(--color-add);
  color: var(--color-main);
  border-radius: 7px;
  margin-left: 10px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
}

.strikeTodo{
  text-decoration: line-through red;
}